@CHARSET "ISO-8859-1";

h1 {
	text-align: center
}

table {
	border-collapse: collapse
}

table,th,td {
	border: 1px solid black
}

tr {
	font-size: 1.1em;
	text-align: left;
	padding: 20px
}

.alt {
	background: #F2F2F2
}

td {
	padding: 10px
}

.indented {
	margin-left: +3em
}

.totop {
	font-size: 80%;
	text-align: center;
	border-bottom: 2px solid
}

.barChart {
	width: 400px;
	height: 450px;
	padding-bottom: 10px;
	padding-top: 10px;
	display: inline-block
}

.chartStart {
	display: inline-block
}

.label {
	display: block;
	margin-left: +2em
}

.center {
	text-align: center
}

.note { 
	border-style: solid;
    border-color: gray;
}

.Passed {
	background-color: rgb(0, 170, 0)
}

.Failed {
	background-color: rgb(221, 0, 0)
}

.Skipped {
	background-color: rgb(204, 204, 204)
}

.summary {
	
}

.throw {
	white-space: pre;
	font-family: monospace;
	font-size: 90%
}

.critical {
	background-color: rgb(255, 158, 158);
}
