@CHARSET "ISO-8859-1";

h1 {
	text-align: center
}

th {
	border: 1px solid black;
	padding: 10px
}

td,tr {
	border: 1px solid black;
	padding: 20px;
	border-collapse: collapse
}

.alt {
	background: #F2F2F2
}

.barChart {
	width: 400px;
	height: 300px;
	padding-top: 10px;
	display: inline-block
}

.smallBar {
	width: 350px;
	height: 250px;
	padding-left: 15px;
	padding-bottom: 10px;
	display: inline-block
}

.annotation {
	border-collapse: collapse;
	border: 1px solid black;
	margin-left: +3em
}

.chartStart {
	display: inline-block
}

.classes {
	border: 1px solid black;
	padding: 10px;
	border-collapse: collapse;
	margin-left: +2em
}

.label {
	display: block;
	margin-left: +2em
}

.none {
	padding: 10px;
	border: none
}

.note { 
	border-style: solid;
    border-color: gray;
}

.summary {
	border: 1px solid black;
	padding: 20px;
	border-collapse: collapse
}

.totop {
	font-size: 80%;
	text-align: center;
	border-bottom: 2px solid
}

.totest {
	font-size: 80%;
	text-align: center;
	border-bottom: 2px dashed
}

.pad-left {
	margin-left: 4em;
}

.color-block {
	height: 15px;
	width: 15px;
	display:inline-block;
	margin-right:5px;
	vertical-align: text-top;
}